:root {
--sidebar-footer-height: 100px;
--sidebar-extra-small-default-padding: 24px;
}
.message-discussion{

}
.page-home .rc-header__wrap {
padding:20px !important;
}
.channel-list{
color:#ccc;
font-size:0.8rem !important;
}
.ircuser.header{
background-color:#1D74F5;
color:#fff;
margin:5px 0;
padding:5px 0 10px 0;
height:35px;
}
.ircuser:hover{
background-color:#ccc;
cursor:pointer;
}
.ircuser {
display:block;
overflow:hidden;
height:30px;
padding-top:3px;
}
.ircuser *{
display:inline;

}
.ircuser img{
width:25px;
vertical-align:middle;
margin-right:20px;
}
.ircinactivo  .message-alias,
.ircactivo  .message-alias{
display:none;
}
.ircinactivo::after{
content:" ";
width:7px;
height:7px;
display:inline-block;
background-color:#ff0000;
border-radius:50%;
margin:2px 5px !important;
}
.ircactivo::after{
content:" ";
width:7px;
height:7px;
display:inline-block;
background-color:#8DB141;
border-radius:50%;
margin:2px 7px !important;
}
.message .user{
height:20px; 
}
.primary-background-color {
background-color:#04436a
}

.channel-list strong{
display:block ;
margin-bottom:-3px;

}
.channel-list a{
border-width:0 !important;
margin-top:4px;
color:#aaa !important;
}
.channel-list li:hover a{
color:#fff !important;
cursor:pointer;
}

#channellist{
position:absolute;
top:70px;
background-color:#ccc;
color:#2F343D;
padding:6px;
border-radius:3px;
z-index:1;
display:none;
}
.logged #channellist{
display:block;
}
#channellist:hover{
background-color:#fff;
}

.page-home{
background-image:url(https://media.inkscape.org/dl/resources/file/pattern_7iFf7Mh.svg),url(https://media.inkscape.org/dl/resources/file/pattern_7iFf7Mh.svg),url(https://media.inkscape.org/media/resources/file/sc_ngarai_sianokk_oyWV26e.svg), url(https://media.inkscape.org/static/images/inkscape-logo.svg);
background-size:5px 5px,100px 100px, cover, 250px 250px;
background-repeat:repeat,repeat,no-repeat,no-repeat;
background-position:center center;
}
.page-home section{
background-color:transparent;
}
.page-home .rc-header__wrap{
background-color:rgba(47,52,61,0.8);
color:#fff;
}
.page-home .intro{
background-color:rgba(47,52,61,0.9);
padding:20px;
line-height:1.4;
color:#fff;
}

.page-home .intro h2{
margin:15px 0 0 0 !important; 
}
.page-home .intro a{
color:#fff;
border-width:0 0 1px 0;
border-style:solid;
border-color:#fff;
padding-bottom:1px !important;
display: inline-block;
}
.page-home .intro a:hover{
border-style:dashed;
}
.page-home.page-settings{
background-image:none !important; 
}
.page-home.page-settings .rc-header__wrap{
background-color:#fff;
color:#333;
}

.page-home.page-list{
background-image:none !important; 
}
.page-home.page-list .rc-header__wrap{
background-color:#fff;
color:#333;
}

.rc-directory th:nth-child(4),
.rc-directory td:nth-child(4),
.rc-directory td:nth-child(2),
.rc-directory th:nth-child(2)

{
display:none;
}
.rc-directory{
max-width:100%;
}
.rc-directory th:nth-child(1),
.rc-directory td:nth-child(1)
{
width:250px;
}
.rc-directory th:nth-child(5),
.rc-directory td:nth-child(5)
{
overflow: visible;
white-space: normal;
font-weight:normal;
color:#555;
}
/******************************************
*************General Settings*************
******************************************/

:root {
    --primary-font-color: #444;
    --info-font-color: #a0a0a0;
    --color-darker: #272c33;
}

/* Reset global font color so that it's changable more easily */
.color-primary-font-color, textarea {
    color: var(--primary-font-color);
}

.color-info-font-color {
    color: var(--info-font-color);
}

input, select, textarea {
    color: var(--input-text-color);
}

.error-color {
    color: var(--rc-color-error);
}

.js-button[aria-label="Toggle Dark Mode"] {
    transition: filter 150ms;
}

.sidebar__toolbar-button-icon--darkmode {
    height: 1.1em;
}

@media (min-width: 1372px) {
    .sidebar__toolbar-button {
	    margin: 0 3px;
    }
}

@keyframes highlight {
    from {
	    background-color: hsl(216, 92%, 54%);
    }
}

/******************************************
************Transition Effect*************
******************************************/
input,
textarea,
select,
.color-primary-font-color,
.color-info-font-color,
.background-info-font-color,
.background-transparent-darker-before::before,
.messages-box .message .body, /* override for opacity transition */
.rc-header__name,
.rc-header__wrap,
.message .reactions>li,
.message .title .is-bot,
.message .title .role-tag,
.message.new-day::before,
.code-colors,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-title,
.hljs-doctag,
.hljs-string,
.hljs-type,
.hljs-literal,
.hljs-number,
.hljs-tag,
.hljs-name,
.hljs-attr,
.hljs-template-variable,
.hljs-variable,
.rc-message-box__container,
.messages-container .footer,
.content-background-color,
.message.new-day::after,
.message .reactions>li,
.border-component-color,
.contextual-bar__header,
.contextual-bar__content,
.sidebar__footer {
    transition: opacity 300ms linear, color 150ms, background-color 150ms, border-color 150ms;
}



/******************************************
*************Dark Mode Settings***********
******************************************/
body.dark-mode {

    /****************************** Custom Variables ******************************/
    --primary-font-color: var(--color-gray-lightest);
    --info-font-color: var(--color-gray-light);
    --message-box-background: hsla(0, 0, 100%, 0.1);

    --button-outline-color: var(--color-gray-medium);
    --button-close-color: var(--color-gray-medium);


    /********************** Overridden Rocket.Chat Variables **********************/

    /* General Colors */
    --rc-color-alert-message-warning-background: hsl(352, 83%, 20%);
    --rc-color-primary: var(--color-gray-lightest);
    --rc-color-primary-lightest: var(--color-dark-medium);

    /* Forms - Button */
    --button-disabled-background: var(--color-dark-70);
    --button-disabled-text-color: var(--color-dark-80);

    /* Forms - Input */
    --input-text-color: var(--color-gray-lightest);
    --input-icon-color: var(--color-gray-lightest);

    /* Forms - popup list */
    --popup-list-background: var(--color-dark);
    --popup-list-background-hover: var(--color-darkest);
    --popup-list-selected-background: var(--color-dark);
    --popup-list-name-color: var(--color-white);

    /* Forms - tags */
    --tags-text-color: var(--color-white);
    --tags-background: var(--color-blue);

    /* Sidebar */
    --sidebar-background: var(--color-dark);

    /* Chip */
    --chip-background: var(--color-blue);

    /* Mention link */
    --mention-link-background: var(--color-dark-medium);
    --mention-link-text-color: var(--color-light-blue);

    /* Message box */
    --message-box-user-typing-color: var(--color-gray-lightest);
    --message-box-user-typing-user-color: var(--color-gray-lightest);

    /* Header */
    --header-title-username-color-darker: var(--color-gray-lightest);
    --header-background-color: var(--color-darkest);

    /* Popover */
    --popover-background: var(--color-dark);
    --popover-title-color: var(--color-white);
    --popover-item-color: var(--color-white);

    /* Tooltip */
    --tooltip-background: var(--color-darkest);
    --tooltip-text-color: var(--color-white);

    /* alert */
    --alerts-background: #1d73f5;
    --alerts-color: var(--color-white);
}



/******************************************
*********Manual Dark Theme Overrides******
******************************************/


/***************Main Chat*****************/

body.dark-mode .rc-member-list__counter{
background-color:transparent !important;  
}
body.dark-mode  .message {

border-width:1px 0 0 0;
border-style:solid;
border-color:#363B41;
}
body.dark-mode  .unread-bar{

background-color:var(--color-dark-medium) !important;;
}
body.dark-mode  .sequential {
border-width:0;
}
body.dark-mode .highlight-text{
background-color:#ffa700;
color:#333;
opacity:0.7;

}
body.dark-mode  .attachment-download-icon{
filter:invert(1);  

}
body.dark-mode .ircusers .avatar{

background-color:transparent !important;

}
body.dark-mode .ircuser:hover{
background-color: var(--color-dark-medium); 

}
body.dark-mode  .ircusers img{ 
filter:invert(1);  
}
body.dark-mode .upload-progress {
background-color:rgba(255,255,255,0.9) !important;
width:95%;
border-radius:3px
}

body.dark-mode .upload-progress {
background-color:rgba(255,255,255,0.9) !important;
width:95%;
border-radius:3px;
}
body.dark-mode .rc-header {
border-color:var(--color-dark-medium) !important;
border-width:0 0 1px 0;
border-style:solid;
}
.upload-progress-close{
padding-top:4px;
}

body.dark-mode .upload-progress-progress{
background-color:#caced5 !important;
}

body.dark-mode .upload-progress *{
color:#444;
font-weight:normal;
}
body.dark-mode .avatar{
background-color:rgba(0,0,0,0.7);
}

body.dark-mode .color-primary-font-color{
color:#caced5;
}

body.dark-mode a {
    color: var(--color-light-blue);
}
body.dark-mode a:hover {
    color: #FFA700;
}

body.dark-mode .message .info .role-tag {
color: var(--color-light-blue);
background-color: var(--color-dark-medium);
}
body.dark-mode select {
    background-color: var(--color-dark);
}

body.dark-mode select option {
    color: var(--color-white);
}

body.dark-mode .sidebar-item > a {
    color: inherit;
}

body.dark-mode .rc-switch__text {
    color: var(--color-white);
}

body.dark-mode .rc-switch-double {
    color: var(--color-white);
}

body.dark-mode .rc-switch__button {
    background-color: var(--color-dark);
}

body.dark-mode .error-border {
    border-color: var(--color-dark-red);
}

body.dark-mode .background-component-color {
    background-color: var(--color-dark-blue);
}


.sidebar__toolbar-button-icon--darkmode {
height: 1.3em !important;
}
body.dark-mode .mention-link:hover {
color:#FFA700;
}
body.dark-mode .container-bars .color-primary-action-color {
    color: var(--color-white);
}

body.dark-mode .burger i {
    background-color: var(--color-white);
}

body.dark-mode .rc-member-list__user.active,
body.dark-mode .rc-member-list__user:hover {
    background-color: var(--color-darkest);
}

body.dark-mode .rc-user-info-details {
    background-color: var(--color-dark-medium);
}

body.dark-mode p.rc-user-info-details__info {
    color: var(--color-white);
}

body.dark-mode .messages-container .footer,
body.dark-mode .content-background-color {
    background-color: var(--header-background-color);
}

body.dark-mode .message {
background-color: var(--color-darkest);
}

body.dark-mode .message.new-day::after,
body.dark-mode .message .reactions>li,
body.dark-mode .border-component-color {
    border-color: var(--rc-color-primary-lightest);
}

body.dark-mode .message .reactions>li,
body.dark-mode .message .title .is-bot,
body.dark-mode .message .title .role-tag,
body.dark-mode .message.new-day::before {
    background-color: var(--rc-color-primary-dark);
}

body.dark-mode .message.active,
body.dark-mode .message:hover {
background-color: var(--color-darker);
}

body.dark-mode .message.editing {
    background-color: var(--color-dark-blue);
}

body.dark-mode .rc-message-box__container {
    background-color: var(--message-box-background);
}

body.dark-mode .rc-old .rc-message-box .reply-preview {
    background-color: var(--color-dark);
}

body.dark-mode .message-actions,
body.dark-mode .rc-member-list__counter {
    color: var(--color-gray-light);
    background-color: var(--color-darkest);
    border-color: var(--color-dark);
}

body.dark-mode .message-actions__button:hover,
body.dark-mode .message-actions__menu:hover {
    background-color: var(--color-dark);
}

body.dark-mode .background-transparent-darker-before::before {
    background-color: var(--color-dark-medium);
}

/*body.dark-mode .background-info-font-color {
    background-color: var(--color-dark-medium);
}*/

body.dark-mode .rc-modal,
body.dark-mode .rc-modal__footer {
    background: var(--color-darkest);
}

body.dark-mode .rc-modal__content,
body.dark-mode .rc-modal__header {
    color: var(--color-white);
}

body.dark-mode .rc-button--outline {
    border-color: var(--button-outline-color);
    color: var(--button-outline-color);
}

body.dark-mode .rc-button--outline.js-close,
body.dark-mode .rc-button--nude.js-close {
    border-color: var(--button-close-color);
    color: var(--button-close-color);
}

body.dark-mode .rc-button--cancel,
body.dark-mode .rc-button--danger {
    background-color: var(--button-cancel-color);
    border-color: var(--button-cancel-color);
    color: var(--button-primary-text-color);
}

body.dark-mode .contextual-bar {
    background-color: var(--color-dark);
    border-left: 2px solid var(--color-dark-medium);
}

body.dark-mode .contextual-bar__header {
    background-color: var(--color-dark);
    border-bottom: 1px solid var(--color-dark-medium);
}

body.dark-mode .contextual-bar__content {
    background-color: var(--color-dark);
}

/***** Chat file list *****/

body.dark-mode .attachments__item:hover, .attachments__item:active {
    background-color: var(--color-darkest);
}

body.dark-mode .attachments__content:hover, .attachments__content:active {
    color: var(--primary-font-color);
}

body.dark-mode .attachments__name {
    color: var(--color-blue);
}

body.dark-mode .attachments__name:hover, .attachments__name:active {
    color: var(--color-light-blue);
}

/*****/

body.dark-mode .rc-popover__content {
    background-color: var(--popover-background);
    box-shadow: 0px 0px 2px var(--color-dark-20);
}

body.dark-mode .emoji-picker .filter-item.active {
    border-color: var(--color-light-blue);
}

body.dark-mode .rc-header--room {
    border-bottom: 2px solid var(--color-dark-medium);
}

body.dark-mode .room-leader:hover {
    background-color: var(--color-darkest);
}

body.dark-mode .chat-now {
    color: var(--color-white);
}

body.dark-mode .message-popup-title {
    background-color: var(--color-dark);
}

/**************Code Highlights*****************/

body.dark-mode .code-colors,
body.dark-mode .rc-old code.inline {
    background: var(--color-dark-100);
    color: var(--color-gray-light);
}

body.dark-mode .hljs-selector-id,
body.dark-mode .hljs-keyword {
    color: var(--color-light-blue);
}

body.dark-mode .hljs-title {
    color: var(--color-gray-light);
}

body.dark-mode .hljs-literal,
body.dark-mode .hljs-number,
body.dark-mode .hljs-attr,
body.dark-mode .hljs-template-variable,
body.dark-mode .hljs-variable {
    color: var(--color-dark-green);
}

body.dark-mode .hljs-tag,
body.dark-mode .hljs-name {
    color: var(--color-light-blue);
}

body.dark-mode .hljs-selector-tag {
    color: var(--color-green);
}

body.dark-mode .hljs-doctag,
body.dark-mode .hljs-string {
    color: var(--color-red);
}

body.dark-mode .hljs-attribute,
body.dark-mode .hljs-type,
body.dark-mode .hljs-number {
    color: var(--color-orange);
}

body.dark-mode .hljs-addition {
background-color: #1e3a21;
}
body.dark-mode .hljs-deletion {
background-color: #472d2e;
}

/***** My Account *****/

body.dark-mode .rc-form-legend,
body.dark-mode .rc-form-label {
    color: var(--primary-font-color);
}

body.dark-mode .js-logout {
    color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}

/**************Admin Panel******************/

.page-list a:not(.rc-button), .page-settings a:not(.rc-button) {
    color: var(--primary-font-color);
}

body.dark-mode  .page-container tr:hover td:hover {
background-color: var(--color-dark);
color: var(#ffffff)
}

body.dark-mode .sidebar-flex__header {
    background-color: var(--color-dark);
}

body.dark-mode .sidebar-light {
    background-color: var(--color-dark);
}

body.dark-mode .rcx-accordion-item__title,
body.dark-mode .rcx-label__text,
body.dark-mode .rcx-field__label{
    color: var(--color-white);
}

body.dark-mode .sidebar-flex__search .rc-input__element {
    color: var(--color-dark);
}

body.dark-mode .rcx-input-box__wrapper {
    background-color: var(--color-dark);
}

body.dark-mode .rcx-box * .rcx-input-box {
    background-color: var(--color-dark);
}

body.dark-mode .rcx-table__cell {
    color: var(--color-gray);
    background-color: var(--color-dark);
}

body.dark-mode  .rcx-table__cell--align-end {
    color: var(--color-gray);
    background-color: var(--color-gray);
}

body.dark-mode .rc-input__element:disabled{
    background-color: var(--color-gray);
}

body.dark-mode .admin-table-row {
    background-color: hsl(219, 16%, 25%);
}

body.dark-mode .sidebar-light .sidebar-item {
    color: inherit;
}

body.dark-mode .admin-table-row:nth-child(even) {
    background-color: hsl(219, 15%, 33%);
}

body.dark-mode .permissions-manager .permission-grid .id-styler {
    color: var(--info-font-color);
}

body.dark-mode .rcx-accordion-item__bar:hover {
    background-color: var(--color-dark-30);
}

body.dark-mode .rcx-box--text-style-h1,
body.dark-mode .rcx-subtitle,
body.dark-mode .rcx-box--text-color-default,
body.dark-mode .rcx-box--text-color-info {
    color: var(--color-gray-lightest);
}

body.dark-mode .rcx-table__cell {
    color: var(--color-gray-lightest);
}

body.dark-mode .rcx-button--primary:disabled {
    color: var(--color-gray);
}

body.dark-mode .permissions-manager .permission-grid .role-name {
    background: var(--color-dark);
}

body.dark-mode .rc-apps-marketplace .rc-table-content tbody .rc-table-tr:not(.table-no-click):not(.table-no-pointer):hover,
body.dark-mode .rc-apps-section .rc-table-content tbody .rc-table-tr:not(.table-no-click):not(.table-no-pointer):hover {
    background-color: var(--color-dark);
}

body.dark-mode .rc-apps-marketplace .rc-table-content .rc-table-info .rc-apps-categories .rc-apps-category,
body.dark-mode .rc-apps-section .rc-table-content .rc-table-info .rc-apps-categories .rc-apps-category {
    color: var(--primary-font-color);
    background-color: var(--color-dark-medium);
}

/*body.dark-mode .rcx-box * .rcx-input-box,*/
body.dark-mode .rcx-box * .rcx-select {
    /*color: var(--color-dark-medium);*/
    background-color: var(--color-white);
}

body.dark-mode .mail-messages__instructions {
    background-color: var(--color-dark);
}

body.dark-mode .rcx-tag--secondary {
    background-color: var(--color-dark-medium);
}

body.dark-mode .rcx-table__cell--align-end {
color: var(--info-font-color) !important;
    background-color: var(--color-dark-medium) !important;
}

body.dark-mode .rcx-box .rcx-icon,
body.dark-mode .rcx-box .rcx-button  {
color: var(--info-font-color) !important;
    background-color: var(--color-dark) !important;
}
body.dark-mode  .rcx-css-oz39hi{
border-width: 0 0 0.1rem 0 !important;;
}
body.dark-mode .rcx-modal__backdrop {
    background-color: transparent !important;
}

body.dark-mode .rcx-table__cell--align-start {
color: var(--info-font-color) !important;
    background-color: var(--color-dark-medium) !important;
}

body.dark-mode .main-content .rcx-box .rcx-button,
body.dark-mode .main-content .rcx-box .rcx-icon {
    background-color: var(--header-background-color)  !important;
}
body.dark-mode .main-content .rcx-button:hover,
body.dark-mode .main-content .rcx-icon:hover {
    border-width:0.1em  !important;
    border-color:var(--color-dark-medium) !important;
    background-color: var(--color-dark-medium)  !important;
    border-radius:3px;
}
body.dark-mode .rcx-css-ps0pgs{
color:#D95009 !important;
}
body.dark-mode .rcx-button--primary {
    color: var(--info-font-color);
    background-color: #095ad2
}

body.dark-mode  .rcx-field__description code {
    background-color: var(--color-dark);
}

body.dark-mode .table-fake-th {
    color: var(--info-font-color);
}

body.dark-mode .rc-input__element {
    background-color: var(--color-dark-medium);
    color: var(--info-font-color) !important;
}

body.dark-mode .rcx-check-box.is-focused,
body.dark-mode .rcx-check-box__input:checked+.rcx-check-box__fake,
body.dark-mode .rcx-check-box.is-focused,
body.dark-mode .rcx-check-box__input:indeterminate+.rcx-check-box__fake,
body.dark-mode .rcx-check-box__input:checked:focus+.rcx-check-box__fake,
body.dark-mode .rcx-check-box__input:indeterminate:focus+.rcx-check-box__fake,
body.dark-mode .rcx-radio-button.is-focused
body.dark-mode .rcx-radio-button__input:checked+.rcx-radio-button__fake,
body.dark-mode .rcx-radio-button__input:checked:focus+.rcx-radio-button__fake,
body.dark-mode .rcx-toggle-switch.is-focused
body.dark-mode .rcx-toggle-switch__input:checked+.rcx-toggle-switch__fake,
body.dark-mode .rcx-toggle-switch__input:checked:focus+.rcx-toggle-switch__fake {
    background-color: #1d74f5 !important;
}

body.dark-mode .CodeMirror {
    background-color: var(--color-gray-light);
}

body.dark-mode .CodeMirror-gutter {
    background-color: var(--color-dark);
}

body.dark-mode .setting-action {
    border: var(--button-border-width) solid var(--info-font-color);
    color: var(--info-font-color);
}


/**************Login Page******************/

body.dark-mode main#rocket-chat {
    background-color: var(--color-dark);
}

body.dark-mode section.full-page.color-tertiary-font-color {
    background-color: var(--color-dark);
}

body.dark-mode .rc-button.rc-button--nude.forgot-password,
body.dark-mode .rc-button.rc-button--nude.back-to-login,
body.dark-mode .rc-button.rc-button--nude.register,
body.dark-mode .rc-button.rc-button--nude i.icon-cancel,
body.dark-mode .register-link-replacement {
    color: var(--color-white);
}

body.dark-mode #login-card {
    background-color: var(--color-darkest);
}


/**************Scrollbars******************/
body.dark-mode *::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.05);
}

body.dark-mode *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
}

body.dark-mode *::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0.05);
}

/***** Poll App *****/
body.dark-mode .rc-modal-wrapper > dialog > div {
    background-color: var(--header-background-color);
}

body.dark-mode .rcx-box--text-style-h1, 
body.dark-mode .rcx-subtitle, 
body.dark-mode .rcx-box--text-color-default, 
body.dark-mode .rcx-box--text-color-info {
color: var(--color-dark);
}


